body {
    font-family:'DM Sans', sans-serif;
}

.first-section{
    background-image: url("/assets/MaskGroup.png");
    background-position: 50% 50%;
    width: 100%;
    display: flex;
    align-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 1%;
    position: relative;
    background-color: #F9FFF2;
}

.nav-section{
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: space-between;
}

.logo{
    width: 30%;
    height: 3%;
}

/* .nav-a{
    margin-left: 50%;
} */

.nav-a ul, a{
    color: #B5B3B3;
    list-style: none;
    text-decoration: none;
}

.signUp{
    background-color: #410FF8;
    border: none;
    color: white;
    padding: 7px 17px;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    border-radius: 5px;
}

.title-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5%;
}

.title-section h1{
    margin-top: -2%;
    font-size: 55px;
}

.title-section p{
    width: 80%;
    color: #464646;
    margin-top: -4%;
    font-size: 14px;
}

.title-section strong{
    color: #3FE4D5;
}

.second-section{
    display: flex;
    flex-direction: row;
    width: 70%;
    margin: 5%;
    align-content: space-between;
    
}
.second-section ul{
    list-style: none;

}

.box-section{
    border: 1px solid #000000;
    margin-right: 10%;
    padding:1% 2%;
}

.box-section h2, h3, h4{
    font-size: 15px;

    
}

#emoji{
    margin: 2%;
    font-size: 12px;
}

.title-box{
    display: flex;
    align-items: center;
    margin-bottom: -15px;
}

.box-section strong{
    font-size: 25px;
}

.price{
    color: #B5B3B3;
    font-size: 12px;
    margin-top: -17px;
}

.box-section button{
    background-color: #410FF8;
    border: none;
    color: white;
    padding: 6px 25px;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    border-radius: 5px;
    display: flex;
    align-items: center;
   
    align-content: center;
}

.arrow-icon{
    width: 20px;
    margin: 5px;
    color: #ffffff;
}

.box-section ul{
    display: flex;align-items: flex-start;
}